@model List<PatientAllPrescriptionsViewModel>


<div style="margin-top: 3rem; height: 52vh" class="container">
    <h1 style="text-align:center">Your Prescriptions</h1>
    <div class="table-sm table-success table-striped table-hover">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Issued by</th>
                    <th>Date</th>
                    <th>Medicament</th>
                    <th>Instructions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var prescription in Model)
                {
                    <tr>
                        <td>
                            @prescription.DoctorNames -  @prescription.DoctorSpeciality
                        </td>
                        <td>
                            @prescription.PrescriptionDate.ToString("dddd, dd MMMM yyyy")
                        </td>
                        <td>
                            @prescription.Medicament: @prescription.MedicamentQantity
                        </td>
                        <td>
                            @prescription.Instructions
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>